@charset "utf-8";

/* title */
.title{
    height: 310px;
    background-image: url(../images/concept/bg-research.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px 10px #4b2c14;
}

.title h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.title p{
    font-size: 14px;
    margin-top: 15px;
}

/* feature */
.feature{
    display: flex;
    justify-content: space-between;
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
}

.feature img{
    width: 360px;
}

.feature-text{
    max-width: 500px;
    margin-right: 40px;
}

.feature-text h2{
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
}

.feature-text h2::after{
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;

}

.feature-text ul{
    font-size: 15px;
    line-height: 28px;
    margin-top: 25px;
}

.feature-text p{
    text-align: justify;
    font-size: 15px;
    line-height: 28px;
    margin-top: 25px;
}

.research-link{
    color: #284155;
    text-decoration: underline;
    text-decoration-color: #284155;
}
/* footer */
.footer{
    margin-top: 100px;
}

/* mobile version */
@media (max-width: 800px){
    /* feature */
    .feature{
        display: block;
        width: 500px;
        margin-top: 45px;
    }

    .feature-text{
        margin-right: 0;
    }
}